*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --primary_color:rgb(40, 40, 217);
}
body{
    background-color: darkgray;
}
/* ===================================== NAVIGATION START HERE ========================================== */
nav{
    background-color: rgb(40, 40, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4rem;
    color:white;
    padding: 0 3rem;
}
.lnav{
    display: flex;
}
.lnav h3{
 font-size: 2rem;
}
.icons{
    display: flex;
    margin-left: 1rem;
    align-items: center;
}
.icons i{
    margin-left: 3rem;
    font-size: 1.3rem;
}

.sidenav{
    display: flex;
}
.sidenav input{
    width: 15rem;
    height: 2rem;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 0.7rem ;
    margin-right: 1rem;
}
.sidenav img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* ================================================================= MAIN START HERE ============================================ */

.container{
   width: 90%;
   margin: 0 auto;
}
.left_aside{
text-align: center;
width: 18%;
overflow: hidden;
border-bottom: 2px solid black;
}

.botton_left h2{
  margin: 1rem 0;
 margin-left: 2rem;
 }
.left_aside div{
    display: flex;
    margin: 2rem 0 ;
}
.left_aside i{ 
    color: var(--primary_color);
    margin-right: 1rem;
}
.see{
    margin-bottom: 0.5rem;
    color: var(--primary_color);
}
.see a{
    color: var(--primary_color);
}

.botton_left{
    width: 30%;
    overflow: hidden;
    
}
.botton_left div{
   display: flex; 
   padding: 0.5rem;
  align-items: center;
  margin: 0.5rem 0;
}
.botton_left div img{
    width: 3rem;
    margin-right: 1rem;
    border-radius:0.3rem ;
 }
 /* ====================================================== MIDDLE START  HERE ============================================================= */

 .toper_img{
     width: 60%;
     height: 12rem;
     background-color: rebeccapurple;
 }
